{%include "header.html"%}
<link rel="stylesheet" href="/static/css/about_us.css">



<br>
<br>
<br>
    <div>
      <div class="abouUsBanner">
        <div><img class="aboutUsImg" src="/static/img/aboutus.png" alt="" /></div>
        <h2 class="aboutUsheading">About Us</h2>
      </div>

      <div class="aboutUsBannerOne">
        <div>
          <img src="/static/img/pngwing 1.png" alt="" />
        </div>
        <div>
          <h5>A Few Words About Us</h5>
          <h2>A shop for good people by good people</h2>
          <p>
            Buy natural, sustainable and chemicalfree products from local
            sellers across the country. We are a strong community of 100,000+
            customers and 600+ sellers who aspire to be good, do good, and
            spread goodness. We are a democratic, self-sustaining, two-sided
            marketplace which thrives on trust and is built on community and
            quality content.
          </p>
        </div>
      </div>

      <div class="bannerImgPartTwo">
        <div>
          <img src="/static/img/Group 20502.png" alt="" />
        </div>
        <div class="natural">
          <div>
            <h3>100% Natural</h3>
            <p>
              Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
              amet,consectetur.
            </p>
          </div>
          <div>
            <h3>Fresh Vegetables</h3>
            <p>
              Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
              amet,consectetur.
            </p>
          </div>
          <div>
            <h3>Organic Farming</h3>
            <p>
              Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
              amet,consectetur.
            </p>
          </div>
          <div>
            <h3>Super Healthy</h3>
            <p>
              Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
              amet,consectetur.
            </p>
            <div>
              <img src="/static/img/IMG_4124.png" alt="" />
            </div>
          </div>
        </div>


        <div class="testimonial">
          <div>
            <div class="ceoPart1">
              <img src="/static/img/Group 20166.png" alt="" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                suscipit tortor eget felis porttitor volutpat. Curabitur non
                nulla sit amet nisl tempus convallis quis ac lectus. Mauris
                blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
              <div>
                <img
                  class="ceo"
                  src="/static/img/photo_2024-05-08_17-44-32.jpg"
                  alt=""
                />
              </div>
              <h2>Ashif Mahmud</h2>
              <p>Chairman of the Board of Directors</p>
            </div>

            <div class="ceoPart2">
              <img src="//staticimg/Group 20166.png" alt="" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                suscipit tortor eget felis porttitor volutpat. Curabitur non
                nulla sit amet nisl tempus convallis quis ac lectus. Mauris
                blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
              <div>
                <img
                  class="ceo"
                  src="/static/img/moon.jpg"
                  alt=""
                />
              </div>
              <h2>Momotaz Moon</h2>
              <p>COO (Chief Operating Officer)</p>
            </div>
          </div>
          <div>
            <div class="ceoPart3">
              <img src="/static/img/Group 20166.png" alt="" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                suscipit tortor eget felis porttitor volutpat. Curabitur non
                nulla sit amet nisl tempus convallis quis ac lectus. Mauris
                blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
              <div>
                <img
                  class="ceo"
                  src="/static/img/rishad.jpg"
                  alt=""
                />
              </div>
              <h2>Rishad Chowdhury Fahad</h2>
              <p>CEO (Chief Executive Officer)</p>
            </div>

            <div class="ceoPart4">
              <img src="/static/img/Group 20166.png" alt="" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                suscipit tortor eget felis porttitor volutpat. Curabitur non
                nulla sit amet nisl tempus convallis quis ac lectus. Mauris
                blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
              <div>
                <img
                  class="ceo"
                  src="/static/img/bristi.jpg"
                  alt=""
                />
              </div>
              <h2>Shabnum Bristi</h2>
              <p>COO (Chief Operating Officer)</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    {%include "footer.html"%}
