<link rel="stylesheet" href="/static/css/footer.css">
    
    <div class="footer">
      <div class="footerDiv">
        <div>
          <img src="/static/img/Organic.png" alt="" />
          <div class="contact">
            <div><img class="callIcon" src="/static/img/call.png" alt="" /></div>
            <div>
              <p>Call Us 24/7</p>
              <p>(1800)-1088-88</p>
            </div>
          </div>
          <div class="locationPart">
            <div><img class="location" src="/static/img/location.png" alt="" /></div>
            <div>
              <p>Address</p>
              <p>100 Mcevoy st, alexandria</p>
              <p>Nsw 2010, Australia</p>
            </div>
          </div>
        </div>

        <div>
          <h3>Customer Service</h3>
          <p>
            Contact us <br /><br />
            Track your order<br /><br />
            Return policy<br /><br />
            Delivery Information<br /><br />
            Help & FAQ<br /><br />
            Warranty & Repair
          </p>
          <br />
        </div>

        <div>
            <h3>Categories</h3>
            <p>Fruitls & Vegetables<br><br>
                Dairy Products<br><br>
                Package Foods<br><br>
                Beverage<br><br>
                Health & Wellness</p><br><br>
        </div>

        <div>
            <h3>Newsletter</h3>
            <p>Signup and get a voucher of worth $250.00</p>
            <input class="emailBox" type="email" placeholder="Your Email Address">
            <button class="emailButton">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
