{% include "header.html" %}
<link rel="stylesheet" href="/static/css/item_description.css" />
<link rel="stylesheet" href="/static/css/footer.css" />



    <div class="descriptionItem">
      <div class="description">
        <div>
          <img src="/static/img/Rectangle 3038.png" alt="" />
        </div>
        <div class="threeFruits">
          <div>
            <img src="/static/img/Rectangle 3039.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3040.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3041.png" alt="" />
          </div>
        </div>
      </div>

      <div class="OrganicTenders">
        <h3 class="tenderHeader">Organic Fruits Tenders</h3>
        <img src="/static/img/rating.png" alt="" />
        <p class="price">$250.00</p>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <button class="IncreaseDecrease">- 1kg +</button>
        <button class="forCart">Add to cart</button><br>
        <button class="buyNow"><a href="/order_form/">Buy Now</a></button>
        <h4 class="author">Sold by : Ashif</h4>
        <ul>
          <li>100% Natural</li>
          <li>Increases resistance</li>
          <li>No growth hormones are used</li>
          <li>No artificial Chemicals</li>
        </ul>
      </div>
    </div>

    <div class="descriptionBar">
        <ul class="descriptionBarList">
            <li class="descriptionBarOne">Description</li>
            <li>Additional information</li>
            <li>Reviews (10+)</li>
            <li>Vendor information</li>
            <li>More products</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <ul>
            <li>High-Neck Style</li>
            <li>Drop Shoulders</li>
            <li>Flared Cuffs</li>
            <li>Asymmetrical Hem</li>
        </ul>
        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>


    {% include "footer.html" %}
  </body>
</html>
