{%include "header.html"%}
    <link rel="stylesheet" href="/static/css/shop.css" />
    <div class="shop">
      <img class="shopBanner" src="/static/img/aboutus.png" alt="" />
      <h3>Shop Category</h3>
    </div>
    <div class="categoriesSection">
        <div class="categoriesSection1">
            <input class="search_product" type="text" placeholder="Search product" />
            <p>Showing 1-15 of 30 results</p>
            <input type="search" placeholder="Sort by latest" />
        </div>
        



        <div class="categoris">Categoris</div>
        
      <div class="categoriesSection2">
        <div class="categoriesSection2_1">
          <div class="categoriesSection2_1_1">
            <h2>Categories</h2>
            <ul>
              <li>Beverages (5)</li>
              <li>Butter & Eggs (9)</li>
              <li>Dried</li>
              <li>Food (6)</li>
              <li>Fresh Meat</li>
              <li>Fruits (6)</li>
              <li>Juice</li>
              <li>Vegetables (25)</li>
              <li>Meats</li>
              <li>Supplements (6)</li>
            </ul>
          </div>
          <div class="categoriesSection2_1_2">
            <h2>Price</h2>
            <ul>
              <li><img src="/static/img/rating.png" alt="" /></li>
              <li><img src="/static/img/rating.png" alt="" /></li>
              <li><img src="/static/img/rating.png" alt="" /></li>
              <li><img src="/static/img/rating.png" alt="" /></li>
              <li><img src="/static/img/rating.png" alt="" /></li>
            </ul>
          </div>
          <div class="tags">
            <h3>Tags</h3>
            <button>Apple</button>
            <button>Cheese</button><br />
            <button>Bread</button>
            <button>Apple</button><br />
            <button>Fish</button>
            <button>Organic</button><br />
            <button>Vegetable</button>
          </div>
        </div>

       
        <div class="itemOfShop">
          <div>
            <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
            <p class="itemOfShopParagraph">Malta</p>
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          </div>
          <div>
            <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          </div>
          <div>
            <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          </div>
          <div>
            <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          <div>
            <img src="/static/img/Rectangle 3055.png" alt="" />
          </div>
          </div>
        </div>
      </div>
    </div>
 
    
    {%include "footer.html"%}