{% include "header.html" %}

<!-- banner part start -->

<div class="bannerPart">
    <div class="headingPart">
      <h1>organic flavours from <span style="color: orange">farm</span></h1>
      <p>
        Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
        amet,consectetur adipiscing elit.
      </p>
      <button>Shop Now</button>
    </div>
    <div class="bannerImgPart">
      <img src="./static/img/pngwing 2.png" alt="" />
    </div>
  </div>

  <!-- offer part -->

  <div class="offer">
    <div>
      <img src="./static/img/004-coupon.png" alt="" />
      <h3>Discount</h3>
      <p>Every week new sales</p>
    </div>
    <div>
      <img src="./static/img/Group 20189.png" alt="" />
      <h3>Support 24/7</h3>
      <p>Dedicated support</p>
    </div>
    <div>
      <img src="./static/img/Group 20190.png" alt="" />
      <h3>Free Delivery</h3>
      <p>For all orders over $99</p>
    </div>
    <div>
      <img src="./static/img/003-credit-card.png" alt="" />
      <h3>Secure Payment</h3>
      <p>100% Secure payment</p>
    </div>
  </div>

  <!-- treanding part start -->

  <div class="treanding">
    <div>
      <div class="itemList">
        <div>
          <img src="/static/img/Rectangle 3121.png" alt="" />
          <span>Vegetable</span>
        </div>
        <div>
          <img src="/static/img/Rectangle 31212.png" alt="" />
          <span>Fruits</span>
        </div>
        <div>
          <img src="/static/img/Rectangle3.png" alt="" />
          <span>Green Vegetable</span>
        </div>
        <div>
          <img src="/static/img/Rectangle 4.png" alt="" />
          <span>Onion</span>
        </div>
        <div>
          <img src="/static/img/Rectangle 5.png" alt="" />
          <span>Vegetable</span>
        </div>
        <div>
          <img src="/static/img/Rectangle 6.png" alt="" />
          <span>Lemon</span>
        </div>
      </div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
  </div>
</body>
</html>