{% include "header.html" %}
<link rel="stylesheet" href="/static/css/index.css" />

    <!-- banner part start -->

    <div class="bannerPart">
      <div class="headingPart">
        <h1>organic flavours from <span style="color: orange">farm</span></h1>
        <p>
          Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit
          amet,consectetur adipiscing elit.
        </p>
        <button>Shop Now</button>
      </div>
      <div class="bannerImgPart">
        <img src="./static/img/pngwing 2.png" alt="" />
      </div>
    </div>

    <!-- offer part -->

    <div class="offer">
      <div>
        <img src="./static/img/004-coupon.png" alt="" />
        <h3>Discount</h3>
        <p>Every week new sales</p>
      </div>
      <div>
        <img src="./static/img/Group 20189.png" alt="" />
        <h3>Support 24/7</h3>
        <p>Dedicated support</p>
      </div>
      <div>
        <img src="./static/img/Group 20190.png" alt="" />
        <h3>Free Delivery</h3>
        <p>For all orders over $99</p>
      </div>
      <div>
        <img src="./static/img/003-credit-card.png" alt="" />
        <h3>Secure Payment</h3>
        <p>100% Secure payment</p>
      </div>
    </div>

    <!-- treanding part start -->

    <div class="productList">
      <div class="listOfProduct">
      <div class="forHover">
        <a class="navbar-brand" href="/item_description">
        <div>
          <div><img src="./static/img/strabery 3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </a>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/Rectangle 3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/orange 3091.jpg" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    </div>
  
  
    <div class="listOfProduct">
      <div class="forHover">
        <div>
          <div><img src="./static/img/avoRectangle 3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/ceri3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/kaloJam1.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    </div>
  
  
    <div class="listOfProduct">
      <div class="forHover">
        <div>
          <div><img src="./static/img/tomato91.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/lemon.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/tomato 3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    </div>
  
  
    <div class="listOfProduct">
      <div class="forHover">
        <div>
          <div><img src="./static/img/brokle 3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/onion3091.png" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    
      <div class="forHover">
        <div>
          <div><img src="./static/img/orange 3091.jpg" alt="" /></div>
          <div class="rating"><img src="./static/img/rating.png" alt="" /></div>
        </div>
        <div>
          <h3>Organic Vegetables</h3>
          <p>$8.00-9.00</p>
        </div>
      </div>
    </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
 
    
    {% include "footer.html" %}
